<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UAIStoreDBCon" connectionString="Data Source=030LAB3-02-1020;Initial Catalog=UAIStore;Integrated Security=True;Trust Server Certificate=True" />
    </connectionStrings>
</configuration>